* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.container1 {
  padding: 1% 7% 1% 7%;
  display: flex;
  background-color: #303841;
}

.box1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
}

.box2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
}

.b1,
.b2,
.b3,
.b4 {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 12px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.b4 {
  cursor: not-allowed;
  opacity: 0.6;
}

.section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section1::after {
  content: "";
  background: url(components/images/background.jpg) no-repeat center center;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(126, 126, 126, 0.3);
  z-index: -1;
}

.item-1,
.item-2,
.b5 {
  color: white;
  text-align: left;
  margin: 6% 0 5% 8%;
  text-shadow: 10px 10px 25px rgb(81, 67, 21), -10px 10px 25px rgb(81, 67, 21),
    -10px -10px 25px rgb(81, 67, 21), 10px -10px 25px rgb(81, 67, 21);
}

.item-1 {
  font-size: 36px;
  width: 70%;
  font-weight: bold;
}

.item-2 {
  font-size: 28px;
  width: 60%;
  font-weight: bold;
  text-align: left;
}

.b5 {
  width: 15%;
  height: 7vh;
  border: solid 2px white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  border-radius: 90px;
  color: white;
  text-decoration: none;
  transition-duration: 1s;
}

.b5:before {
  display: inline-block;
  content: "";
  width: 0;
  height: 7vh;
  vertical-align: middle;
}

.b5:hover {
  background-color: white;
  color: black;
}

.section2 {
  background-color: #f1f1f1;
  padding: 0 10% 0 10%;
}

.section2-h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding: 5% 0 5% 1%;
  border-bottom: thick double #303841;
}

.list1 {
  list-style-type: none;
  text-align: center;
  border-bottom: thick double #303841;
  margin: 1% 7% 0 7%;
}

.person-avatar {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  margin: 1% 7% 7% 7%;
  background-size: cover;
  background-position: center;
}

.part2,
.part1 {
  display: inline-block;
}

.section3 {
  background-color: #405d78;
}

.section3-h1 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding: 5% 0 0 0;
  font-size: 25px;
}

.section3-box {
  padding: 5% 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.s3-button {
  margin: 2%;
  background-color: #f1f1f1;
  height: 190px;
  width: 190px;
  display: flex;
  justify-content: center;
  transition-duration: 0.5s;
  border: none;
  flex-wrap: wrap;
  position: relative;
}

.s3-button div {
  position: absolute;
  left: calc(0px - 1vmax);
  top: calc(0pc - 1vmax);
  width: 2vmax;
  height: 2vmax;
  border-radius: 50%;
  background: #e07a64;
}

.section3-p {
  align-self: center;
  width: 100px;
  font-size: 20px;
}

.s3-button:hover {
  transform: scale(1.05);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #303841;
  color: #f0f0f0;
  padding-top: 2%;
}

.contact-links {
  width: 100%;
  text-decoration: none;
  color: #f0f0f0;
  display: flex;
  justify-content: space-evenly;
}

.contact-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1rem;
  display: inline-block;
  padding: 5%;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #303841;
  color: #f0f0f0;
  border-top: 4px solid #be3144;
  font-size: 2vw;
}
.btn-smoothScrollToTop {
  position: fixed;
  min-width: 2.5em;
  min-height: 2.5em;
  bottom: 2em;
  right: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: white;
  border-radius: 50%;
  font-size: 1.4em;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  box-shadow: 0.2em 0.4em 0.6em rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: box-shadow 0.2s, bottom 0.5s, opacity 0.5s;
  cursor: pointer;
}

.arrow {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .b5:before {
    content: "";
    width: 0;
    height: 7vh;
  }
  .b5:hover {
    background-color: white;
    color: black;
  }

  .person-avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 1% 7% 7% 7%;
    background-size: cover;
    background-position: center;
  }

  .list1:nth-child(odd) .person-avatar {
    float: left;
  }

  .list1:nth-child(even) .person-avatar {
    float: right;
  }
  .list1:nth-child(odd) .person-p {
    text-align: left;
    margin: 0 4% 2% 0;
    font-size: 3vmin;
  }

  .list1:nth-child(even) .person-p {
    text-align: right;
    margin: 0 0 4% 4%;
    font-size: 3vmin;
  }

  .list1:nth-child(odd) .person-h {
    padding: 3%;
    font-size: 4vmin;
  }

  .list1:nth-child(even) .person-h {
    text-align: right;
    padding: 3%;
    font-size: 4vmin;
  }

  .s3-button:hover {
    transform: scale(1.05);
  }
  .contact-links a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1400px) {
}
